<html>
    <body>

        <form action="http://localhost:5000/prof" method="post">

            <label>NAME</label>
            <input name="name" type="text"><br>
            <label>EMAIL</label>
            <input name="email" type="text"><br>
            <label>PHONE</label>
            <input name="phone" type="number"><br>
            <label>GENDER</label>
            <input name="gender" type="text" ><br>
            <label>DOB</label>
            <input name="dob" type="date"><br>
            <button>submit</button>



        </form>



    </body>
</html>